/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
.logo-img {
  left: 7em;
  position: relative;
}

.site-name-slogan {
  float: left;
  position: relative;
  left: 14em;
}

.block-search input.form-submit {
  float: right;
}
/*
.block-system-main .content p, 
.block-system-main .content ul, 
.block-system-main .content ol, 
.block-system-main .content div {
  font-size: 16px;
}
*/
